{$DOMAIN} {
	encode gzip
	request_body {
		max_size 80MB
	}
	header {
		Strict-Transport-Security "max-age=31536000"
		-Server
	}
	reverse_proxy app:8765 {
		transport http {
			read_timeout 15m
		}
	}
}
